/*
       _   _ _
 _   _| |_(_) |___
| | | | __| | / __|
| |_| | |_| | \__ \
 \__,_|\__|_|_|___/

*/

// Vertical CSS Ellipsis
.line-clamp {
	@include line-clamp(2);
}

// Webfont Loading
html {
	@include transition(opacity 666ms ease-in-out);
	@include opacity(0);

	&.font-active {
		@include opacity(1);
	}
}

// Font Size Override
body {
	font-size: 1.6rem;
	font-family: $font-family__body;
	font-weight: $font-weight__normal;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font-family__titles;
	font-weight: $font-weight__bold;
}

// Link Color Override
a {
	color: $anchor-color;
	font-family: $font-family__titles;
	font-weight: $font-weight__bold;
}

// clearfix: http://nicolasgallagher.com/micro-clearfix-hack/
.clear {
	&::before,
	&::after {
		content: " ";
		display: table;
	}
	&::after {
		clear: both;
	}
}

// Flip Columns on Mobile
.mobile-column-reverse {
	@include breakpoint(medium down) {
		display: flex;
		flex-direction: column-reverse;
	}
}

// Buttons
.button {
	background: $color__black;
	border-radius: 4px;
	font-family: $font-family__body;
	font-style: normal;
	font-weight: $font-weight__bold;
	text-align: center;
	letter-spacing: 1px;
	color: $color__white;
	text-transform: uppercase;
	padding: 12px 24px;

	@include breakpoint(medium down) {
		font-size: 0.7rem;
	}

	&:hover,
	&:focus {
		background-color: $color__white;
		color: $color__black;
		border: 1px solid $color__black;
	}
}

// Animations
.animate {
	// @include opacity(0);
	// @include transform(translate(0, 100px));
	-webkit-animation-duration: 1.1s;
	animation-duration: 1.1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;

	&.fade-up {
		-webkit-animation-name: fade_up;
		animation-name: fade_up;
	}

	&.small-big {
		-webkit-animation-name: small_big;
		animation-name: small_big;
	}
}

// Edit Post
.edit__post { /* stylelint-disable-line selector-class-pattern */
	position: fixed;
	bottom: 0;
	left: 0;
	background: rgba(#000, 0.5);
	@include transition(all 0.3s ease-out);

	&:hover {
		background: #000;
	}

	svg {
		fill: #fff;
	}
}

// Text Align
.text-align {
	&__right {
		text-align: right;
	}

	&__center {
		text-align: center;
	}
}
