@font-face {
	font-family: "Basis Grotesque Pro Off White";
	src: url("../fonts/basis-grotesque-pro-off-white.woff");
	src:
		url("../fonts/basis-grotesque-pro-off-white.eot?#iefix") format("embedded-opentype"),
		url("../fonts/basis-grotesque-pro-off-white.woff") format("woff"),
		url("../fonts/basis-grotesque-pro-off-white.ttf") format("truetype");
}
