@import "essentials";
@import "tools/tools";

// Header container
.header {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	padding: 2.5rem;
	z-index: $z-index__nav;
	background: $color__white;
	height: $height__nav;
	// @include box-shadow(0 0 30px -15px rgba(0, 0, 0, 0.6));

	@include breakpoint(large down) {
		padding: 2.5rem;
	}

	@include breakpoint(medium down) {
		padding: 0;
		display: block;
	}

	&__logo-wrapper {
		// width: 100%;
		width: auto;

		@include breakpoint(medium down) {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 0 2.5rem;
			height: 100%;
			position: relative;
			z-index: $z-index__menu-button;
			background: $color__white;
		}
	}

	#mobile-menu-button {
		display: none;

		@include breakpoint(medium down) {
			position: absolute;
			right: 2.5rem;
			display: flex;
			top: 50%;
			transform: translateY(-50%);
			width: 40px;
			height: 40px;
			cursor: pointer;
		}
	}
}

// Logo
.logo {
	width: 100%;
	max-width: 275px;

	@include breakpoint(medium down) {
		max-width: 225px;
	}

	a {
		display: block;
	}
}

.logo-img {
	max-height: 55px;
	// padding: 10px 0;
}

.nav {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;

	@include breakpoint(medium down) {
		height: $height__nav--offset;
		background: #eee;
		position: relative;
		z-index: $z-index__nav--mobile;
		@include xy-gutters($gutters: $grid-padding-gutters, $gutter-position: top bottom, $gutter-type: padding);
		@include transition(all 0.3s ease-out);
		@include transform(translateY(-100vh));
		display: block;
	}

	&.active {
		@include breakpoint(medium down) {
			@include transform(translateY(0));
		}
	}

	.navbar-nav {
		padding: 0;
	}

	.navbar .container {
		position: relative;
		@include breakpoint(large up) {
			display: flex;
			align-items: center;
			justify-content: flex-start;
		}
	}

	ul {
		margin: 0;
		padding: 0;
		display: flex;
		align-items: center;
		justify-content: flex-start;

		@include breakpoint(large down) {
			padding-left: 20%;
		}

		@include breakpoint(medium down) {
			display: block;
		}

		li {
			list-style: none;
			text-transform: uppercase;
			font-size: 1.4rem;
			font-weight: $font-weight__bold;
			letter-spacing: 1px;
			font-family: $font-family__body;
			color: $color__black;
			margin: 0 0 0 3rem;

			@include breakpoint(large down) {
				font-size: 1.2rem;
				margin-left: 2.5rem;
			}

			@include breakpoint(medium down) {
				font-size: 1.6rem;
				margin-bottom: 2.1rem;
				margin-left: 3rem;
			}

			a {
				color: $color__black;
				display: block;
				line-height: 1.2;
				border-bottom: 2px solid transparent;
				letter-spacing: 2px;
				@include transition(all 0.3s ease-out);

				&:hover,
				&:focus {
					border-bottom: 2px solid #ddd;
				}

				@include breakpoint(medium down) {
					border-bottom: 0;

					&:hover,
					&:focus {
						border-bottom: 0;
					}
				}
			}

			&.current-menu-item {
				a {
					border-color: $color__black;
				}
			}
		}
	}
}

.isotop-filters {
	cursor: pointer;

	&.isotop-filters__active {
		color: $color__black !important;
	}
}

.navbar-split {
	width: 100%;
	display: flex;
	justify-content: space-between;
	position: relative;

	@include breakpoint(medium down) {
		display: block;
	}

	.about-nav {
		padding: 0 !important;
	}
}

/* --------------------------------

Title: Animated Menu Button
Descr: A menu button w/ a morphing icon

-------------------------------- */

:root {
	--anim-menu-btn-size: 48px;

	// 🍔 icon
	--anim-menu-btn-icon-size: 32px;
	--anim-menu-btn-icon-stroke: 2px;
}

.anim-menu-btn {
	display: none;

	@include breakpoint(large down) {
		display: flex;
		justify-content: center;
		align-items: center;
		width: var(--anim-menu-btn-size);
		height: var(--anim-menu-btn-size);
		position: absolute;
		top: 12px;
		left: auto;
		right: 3%;
		outline: none;
		z-index: $z-index__menu-button;
	}

	@include breakpoint(medium down) {
		display: flex;
		justify-content: center;
		align-items: center;
		width: var(--anim-menu-btn-size);
		height: var(--anim-menu-btn-size);
		position: absolute;
		top: 12px;
		left: auto;
		right: 3%;
		outline: none;
		z-index: $z-index__menu-button;
	}

	&__icon {
		position: relative;
		display: block;
		font-size: var(--anim-menu-btn-icon-size);
		width: 0.8em;
		height: var(--anim-menu-btn-icon-stroke);
		color: $color__black;
		background-image: linear-gradient(currentColor, currentColor);
		background-repeat: no-repeat;
		transform: scale(1);

		&::before,
		&::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			background-image: inherit;
			border-radius: inherit;
		}

		&--close {
			background-size: 100% 100%;
			will-change: transform, background-size;
			transition: transform 0.2s, background-size 0.2s;

			.anim-menu-btn:active & {
				transform: scale(0.9);
			}

			&::before,
			&::after {
				will-change: inherit;
				transition: inherit;
			}

			&::before {
				// line top
				transform: translateY(-0.25em) rotate(0);
			}

			&::after {
				// line bottom
				transform: translateY(0.25em) rotate(0);
			}
		}
	}

	&--state-b {

		.anim-menu-btn {
			&__icon--close {
				background-size: 0% 100%;

				&::before {
					transform: translateY(0) rotate(45deg);
				}

				&::after {
					transform: translateY(0) rotate(-45deg);
				}
			}

			&__icon--arrow-up {
				transform: rotate(90deg);
			}

			&__icon--arrow-down {
				transform: rotate(-90deg);
			}

			&__icon--arrow-left,
			&__icon--arrow-right,
			&__icon--arrow-up,
			&__icon--arrow-down {

				&::before,
				&::after {
					width: 50%;
				}

				&::before {
					transform: translateY(0) rotate(-45deg);
				}

				&::after {
					transform: translateY(0) rotate(45deg);
				}
			}
		}

		&:active {
			.anim-menu-btn {
				&__icon--arrow-up {
					transform: rotate(90deg) scale(0.9);
				}

				&__icon--arrow-down {
					transform: rotate(-90deg) scale(0.9);
				}
			}
		}
	}

	&__icon--arrow-left,
	&__icon--arrow-right,
	&__icon--arrow-up,
	&__icon--arrow-down {
		border-radius: 50em;
		will-change: transform;
		transition: transform 0.2s;

		.anim-menu-btn:active & {
			transform: scale(0.9);
		}

		&::before,
		&::after {
			transform-origin: calc(var(--anim-menu-btn-icon-stroke) / 2) 50%;
			will-change: transform, width;
			transition: transform 0.2s, width 0.2s;
		}

		&::before {
			// line top
			transform: translateY(-0.25em) rotate(0);
		}

		&::after {
			// line bottom
			transform: translateY(0.25em) rotate(0);
		}
	}

	&__icon--arrow-right {
		transform: rotate(180deg);

		.anim-menu-btn:active & {
			transform: rotate(180deg) scale(0.9);
		}
	}
}

body.page-template-page-home {
	.header {
		background: transparent;
		box-shadow: none;
	}

	.nav {
		ul {
			li {
				a {
					color: $color__white;

					@include breakpoint(medium down) {
						color: $color__black;
					}
				}
			}
		}
	}
}

.footer {
	padding: 0 5rem;

	&__links {
		list-style: none;
		display: flex;
		margin: 0;

		@include breakpoint(medium down) {
			display: block;
			text-align: center;
		}

		a {
			color: $color__black;
			text-transform: uppercase;
			font-size: 1.2rem;
			margin-right: 2rem;
			letter-spacing: 2px;
			font-weight: 400;

			@include breakpoint(medium down) {
				font-size: 1rem;
			}

			&:hover, &:focus {
				color: lighten($color__black, 10%);
				text-decoration: underline;
			}
		}
	}

	&__social-link {
		color: $color__black;
		text-transform: uppercase;
		letter-spacing: 2px;
		font-size: 1.2rem;
		font-weight: 400;

		&:hover, &:focus {
			color: lighten($color__black, 10%);
			text-decoration: underline;
		}
	}

	&__social-links {
		text-align: right;

		@include breakpoint(medium down) {
			text-align: center;
			margin-bottom: 1rem;
		}

		span {
			@include breakpoint(medium down) {
				display: inline-block;
				line-height: 1.1;
			}

			a {
				@include breakpoint(medium down) {
					font-size: 1rem;
				}
			}
		}
	}
}

.category-nav {
	position: absolute;
	top: 25px;
	left: 143px;

	@include breakpoint(large down) {
		left: 123px;
	}

	@include breakpoint(medium down) {
		position: relative;
		left: 0;
		top: 0;
		padding-left: 3rem;
	}

	&--mobile {
		@include breakpoint(medium down) {
			padding: 0 !important;
			left: 0;
			top: 0;
			padding-left: 3rem;
			max-width: 80%;
			margin-top: 2rem;
			margin-left: auto;
			margin-right: auto;
		}

		.category-nav__topics, .category-nav__cats {
			@include breakpoint(medium down) {
				text-align: center;
				justify-content: center;
				align-items: center;
				margin: 0 0 1rem;
			}
		}
	}

	ul {
		li {
			font-size: 1.1rem;
			margin-right: 5px;
			margin-left: 0;
			color: #aaa;

			&:hover {
				color: #888;
			}

			&::after {
				content: "/";
				margin-left: 5px;
				color: #aaa !important;
			}

			&:last-of-type {
				&::after {
					content: "";
				}
			}
		}
	}

	&__topics, &__cats {
		padding-left: 0 !important;

		@include breakpoint(medium down) {
			position: relative;
			padding: 0 !important;
			display: flex !important;
			flex-wrap: wrap;
		}
	}

	&__topic {
		list-style: none;
		text-transform: uppercase;
		font-size: 1.4rem;
		font-weight: 700;
		letter-spacing: 1px;
		color: #0a0a0a;
		margin: 0 0 0 3rem;
	}

	&__cats {
		margin-left: 50px;

	}
}
