/*
  _
 | |__   ___  _ __ ___   ___
 | '_ \ / _ \| '_ ` _ \ / _ \
 | | | | (_) | | | | | |  __/
 |_| |_|\___/|_| |_| |_|\___|

*/

@import "essentials";
@import "tools/tools";

.section-home {
	&__intro {
		min-height: $height__nav--offset;
		position: relative;
		overflow: hidden;

		@include breakpoint(medium down) {
			min-height: 60vh;
		}

		&--background {
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
		}

		&--title {
			line-height: 1.15;
		}

		&--lead {
			margin: $grid__margin 0 ($grid__margin * 2) 0;

			p {
				margin-bottom: 4rem;
			}
		}

		&--content {
			height: $height__nav--offset;
			position: relative;
			z-index: $z-index__content;

			@include breakpoint(medium down) {
				min-height: 60vh;
			}
		}

		&--overlay {
			position: absolute;
			width: 100vw;
			height: 100%;
			background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
			z-index: $z-index__overlays;
		}

		&--slider {
			@include breakpoint(medium down) {
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
			}

			@include breakpoint(medium down) {
				.slick-list {
					position: absolute;
					height: 100%;

					.slick-track {
						height: 100%;
					}

					.slick-slide {
						height: 100%;

						>div {
							height: 100%;
						}
					}
				}
			}
		}

		.slick-dots {
			bottom: $grid__margin * 2;
		}
	}

	&__content {
		position: relative;
		background-color: $color__black;
		color: $color__white;
		text-align: center;
		padding-top: 5vh;
		padding-bottom: 2.5vh;

		@include breakpoint(medium down) {
			text-align: left;
		}

		&--white {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: $z-index__overlays;
			background-color: $color__white;
			height: 25%;

			@include breakpoint(medium down) {
				display: none;
			}
		}

		&--content {
			position: relative;
			z-index: $z-index__content;
			margin-bottom: $grid__margin * 2;
		}

		&--icon {
			margin-bottom: $grid__margin;
			width: 100px;
			display: block;

			@include breakpoint(medium down) {
				width: 80px;
			}
		}

		&--lead {
			p {
				margin-bottom: 2rem;
			}
		}
	}

	&__about {
		padding: 5rem 0;

		@include breakpoint(medium down) {
			padding: 5rem 0;
		}

		h2 {
			margin-bottom: 2rem;
			color: $color__black;
		}

		p {
			margin-bottom: 2rem;
		}

		&--lead-paragraph {
			margin-bottom: 2rem;
			color: $color__black;
		}

		&--content {
			@include breakpoint(medium down) {
				margin-top: 2rem;
			}
		}

		&--image {
			@include breakpoint(medium down) {
				margin-bottom: 2rem;
			}
		}
	}

	&__quote {
		background: $color__black;
		color: $color__white;
		padding: 12rem 6rem;
		text-align: center;

		@include breakpoint(medium down) {
			padding: 4rem 0;
		}

		h2 {
			font-size: 3.6rem;
		}
	}

	&__testimonials {

		&--slider {
			background-image: $color__black;
			@include border-radius(20px);

			@include breakpoint(medium down) {
				@include border-radius(0);
			}
		}

		&--image {
			overflow: hidden;
			padding-bottom: 0;

			@include breakpoint(medium down) {
				position: relative;
				display: none;
				@include border-radius(0);
			}
		}

		&--content {
			position: relative;
			height: 100%;
			left: 8.33333%;
			@include border-radius(20px);

			@include breakpoint(medium down) {
				padding: 2rem;
				border-radius: 0 0 20px 20px;
				left: 0;
			}

			h3 {
				margin-bottom: 2rem;

				@include breakpoint(medium down) {
					margin-bottom: 2rem;
				}
			}

			blockquote {
				position: relative;
				border: none;
				padding: 0 0 0 3rem;

				@include breakpoint(medium down) {
					padding: 0 0 0 2rem;
				}

				&::before {
					position: absolute;
					left: 0;
					top: -25px;
					content: "“";
					font-family: $font-family__body;
					font-size: 4.2rem;
					color: $color__white;
					@include opacity(0.6);

					@include breakpoint(medium down) {
						font-size: 3rem;
						position: absolute;
						left: -5px;
						color: $color__white;
						top: -10px;
					}
				}

				p {
					border: none;
				}
			}
		}
	}
}

body.page-template-page-home {
	background: #000;
	overflow: hidden;

	.footer {
		width: 100%;
		position: fixed;
		bottom: 0;
		color: $color__white;
		padding: 0 5rem 1rem;

		&__links {
			a {
				color: $color__white;
			}
		}

		&__social-link {
			color: $color__white;
		}
	}
}

.home-splash {
	padding: 10rem 13rem 0;
	// position: relative;

	@include breakpoint(large down) {
		padding-left: 10rem;
		padding-right: 10rem;
	}

	@include breakpoint(medium down) {
		padding-left: 2rem;
		padding-right: 2rem;
	}

	&::before {
		content: "";
		display: block;
		z-index: 1;
		background: #000;
		opacity: 0.3;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		@include breakpoint(medium down) {
			opacity: 0.5;
		}
	}

	&__project {
		margin-bottom: 5rem;
	}

	&__project-name {
		color: $color__white;
		text-transform: uppercase;
		font-size: 1.4rem;
		letter-spacing: 3px;
		margin-bottom: 0;
	}

	&__project-date {
		color: $color__white;
		display: block;
		font-size: 1.4rem;
		font-weight: 600;
		letter-spacing: 4px;

		@include breakpoint(medium down) {
			font-size: 1.2rem;
			line-height: 1.2;
			letter-spacing: 2px;
		}
	}

	&__project-location {
		color: $color__white;
		display: block;
		font-size: 1.4rem;
		letter-spacing: 4px;

		@include breakpoint(medium down) {
			font-size: 1.2rem;
			line-height: 1.2;
			letter-spacing: 2px;
		}
	}

	&__project-cta {
		color: $color__white;
		display: block;
		font-size: 1.4rem;
		letter-spacing: 4px;

		@include breakpoint(medium down) {
			font-size: 1.2rem;
			line-height: 1.2;
			letter-spacing: 2px;
			margin-top: 1rem;
		}

		a {
			color: $color__white;
			text-decoration: underline;

			&:hover, &:focus {
				color: #eee;
			}
		}
	}

	&__video {
		position: absolute !important;
		top: 0;
		left: 0;
		width: 100%;
		object-fit: cover;
		z-index: 0;
		height: 100%;

		@include breakpoint(medium down) {
			height: 100%;
		}
	}

	.grid-container {
		position: relative;
		z-index: 2;

		@include breakpoint(medium down) {
			padding-left: 3.5rem;
			padding-right: 3.5rem;
		}
	}
}
