/*

 _ __   __ _  __ _  ___
| '_ \ / _` |/ _` |/ _ \
| |_) | (_| | (_| |  __/
| .__/ \__,_|\__, |\___|
|_|          |___/

*/

@import "essentials";
@import "tools/tools";

body {
	&.lock {
		overflow: hidden;
	}
}

.featured-projects {
	padding: 5rem 13rem 0;

	@include breakpoint(large down) {
		padding: 5rem 12rem 0;
	}

	@include breakpoint(medium down) {
		padding-top: 3rem;
		padding-left: 0;
		padding-right: 0;
	}

	.grid-container {

		@include breakpoint(large down) {
			max-width: 100%;
			margin-left: -4.5rem;
			margin-right: -4.5rem;
			padding: 0;
			width: 100%;
		}

		@include breakpoint(medium down) {
			margin-left: auto;
			margin-right: auto;
		}

		.grid-x {
			margin-left: 0 !important;
			margin-right: 0 !important;
		}
	}

	&__column {
		padding-left: 4.5rem !important;
		padding-right: 4.5rem !important;

		@include breakpoint(large down) {
			padding-left: 2.5rem !important;
			padding-right: 2.5rem !important;
		}

		@include breakpoint(medium down) {
			padding-bottom: 2rem;
		}

		&--portrait {
			&:nth-of-type(2) {
				padding-right: 180px !important;
				padding-bottom: 10%;

				@include breakpoint(medium down) {
					padding-left: 6.5rem !important;
					padding-right: 6.5rem !important;
					padding-bottom: 2rem;
				}
			}

			&:nth-of-type(3) {
				padding-left: 180px !important;
				margin-top: -20%;
				padding-bottom: 10%;

				@include breakpoint(large down) {
					margin-top: -150px;
				}

				@include breakpoint(medium down) {
					padding-left: 6.5rem !important;
					padding-right: 6.5rem !important;
					padding-bottom: 2rem;
					margin-top: 0;
				}
			}

			&:nth-of-type(6) {
				padding-right: 180px !important;
				padding-bottom: 10%;

				@include breakpoint(medium down) {
					padding-left: 6.5rem !important;
					padding-right: 6.5rem !important;
					padding-bottom: 2rem;
					margin-top: 0;
				}
			}

			&:nth-of-type(7) {
				padding-left: 180px !important;
				margin-top: -20%;
				padding-bottom: 10%;

				@include breakpoint(large down) {
					margin-top: -150px;
				}

				@include breakpoint(medium down) {
					padding-left: 6.5rem !important;
					padding-right: 6.5rem !important;
					padding-bottom: 2rem;
					margin-top: 0;
				}
			}
		}
	}
}

.featured-project {
	padding-bottom: 20px;

	&__title {
		text-transform: uppercase;
		// font-size: 1.6rem;
		font-size: 1.1rem;
		letter-spacing: 1px;
		margin-top: 1rem;
		margin-bottom: 0;

		@include breakpoint(medium down) {
			font-size: 1.4rem;
		}
	}

	&__category {
		display: block;
		text-transform: uppercase;
		// font-size: 1.4rem;
		font-size: 1.1rem;
		font-weight: 400;

		@include breakpoint(medium down) {
			font-size: 1.2rem;
			line-height: 1.1;
		}
	}

	&__year {
		// font-size: 1.4rem;
		font-size: 1.1rem;
		display: block;
		font-weight: 400;

		@include breakpoint(medium down) {
			font-size: 1.2rem;
			line-height: 1.1;
		}
	}

	a {
		color: #000;

		&:hover, &:focus {
			color: #000;
		}
	}
}

h1.archive-heading__heading {
	text-align: center;
	text-transform: uppercase;
	font-size: 2.6rem;
	letter-spacing: 3px;
	margin-bottom: 5rem;

	@include breakpoint(medium down) {
		font-size: 1.8rem;
		letter-spacing: 2px;
		margin-bottom: 2rem;
		margin-top: 1rem;
	}
}

.exhibition-tiles {
	max-width: 100% !important;
	padding-left: 13rem;
	padding-right: 13rem;
	padding-top: 4rem;

	@include breakpoint(large down) {
		padding-left: 10rem;
		padding-right: 10rem;
	}

	@include breakpoint(medium down) {
		padding-left: 3.5rem;
		padding-right: 3.5rem;
	}

	.exhibition-tiles-inner-wrapper {
		margin-left: -1.5rem;
		margin-right: -1.5rem;

		@include breakpoint(medium down) {
			margin-left: 0;
			margin-right: 0;
		}
	}
}

.exhibition-tile {
	margin-bottom: 5rem;

	&:nth-of-type(2n) {
		flex-direction: row-reverse;
	}

	&.reverse {
		flex-direction: row-reverse;

		@include breakpoint(medium down) {
			display: block;
		}
	}
}

.exhibition-tiles-inner-wrapper {
	margin-bottom: 50px;
}

h2.exhibition-tile__heading {
	text-transform: uppercase;
	font-size: 1.6rem;
	letter-spacing: 4px;
	margin-top: 1rem;
	margin-bottom: 0;

	@include breakpoint(large down) {
		font-size: 1.4rem;
		letter-spacing: 2px;
	}

	@include breakpoint(medium down) {
		margin-top: 1rem;
		font-size: 1.1rem;
		letter-spacing: 2px;
		line-height: 1.1;
		margin-bottom: 0;
	}

	a {
		color: #000;
	}
}

.exhibition-tile__venue {
	@include breakpoint(large down) {
		font-size: 1.2rem;
	}

	@include breakpoint(medium down) {
		font-size: 1.1rem;
		line-height: 1.1;
	}
}

.exhibition-tile__info {
	margin-top: 1rem;
	display: block;

	@include breakpoint(medium down) {
		margin-top: 0;
	}
}

.exhibition-tile-small {
	margin-bottom: 5rem;

	.exhibition-tile__heading {
		text-transform: uppercase;
		font-size: 1.1rem;
		letter-spacing: 1px;
		margin-top: 1rem;
		margin-bottom: 0;
		line-height: 1.1;
	}

	.exhibition-tile__venue {
		font-size: 1.1rem;
	}

	.exhibition-tile__date {
		display: block;
		font-size: 1.1rem;
	}

	.exhibition-tile__location {
		margin-bottom: 2rem;
		display: block;
		font-size: 1.1rem;
	}

	.exhibition-tile__content p {
		font-size: 1.1rem;
		line-height: 1.3;
	}

	.exhibition-tile__link a {
		font-size: 1.1rem;
		color: #000;
		font-weight: 400;
	}
}

.exhibition-tiles-small {
	padding-bottom: 50px;

	@include breakpoint(medium down) {
		margin-left: 0 !important;
		margin-right: 0 !important;
	}

	.exhibition-tile__small {
		@include breakpoint(medium down) {
			margin-bottom: 5rem;
		}
	}

	.exhibition-tile__image {
		margin-bottom: 1rem;

		@include breakpoint(medium down) {
			margin-bottom: 0;
		}
	}

	.exhibition-tile__info {
		margin-top: 1rem;
		display: block;

		@include breakpoint(medium down) {
			margin-top: 0;
		}
	}

	h2.exhibition-tile__heading {
		font-size: 1.4rem;
		margin-bottom: 0.3rem;
		letter-spacing: 2px;
		line-height: 1;
	}

	.exhibition-tile__date, .exhibition-tile__location, .exhibition-tile__venue {
		font-size: 1.2rem;
	}

	.exhibition-tile__content {
		p {
			font-size: 1.2rem;
		}
	}

	.exhibition-tile__link {
		a {
			font-size: 1.2rem;
		}
	}

}

span.exhibition-tile__date {
	display: block;
	font-size: 1.4rem;

	@include breakpoint(large down) {
		font-size: 1.2rem;
	}

	@include breakpoint(medium down) {
		display: block;
		font-size: 1.1rem;
		line-height: 1.1;
	}
}

span.exhibition-tile__location {
	margin-bottom: 2rem;
	display: block;
	font-size: 1.4rem;

	@include breakpoint(large down) {
		font-size: 1.2rem;
	}

	@include breakpoint(medium down) {
		margin-bottom: 1rem;
		display: block;
		font-size: 1.2rem;
		line-height: 1.1;
	}
}

.exhibition-tile__content p {
	font-size: 1.4rem;
	line-height: 1.3;

	@include breakpoint(large down) {
		font-size: 1.2rem;
	}

	@include breakpoint(medium down) {
		font-size: 1.1rem;
		line-height: 1.2;
	}
}

.exhibition-tile__link a {
	font-size: 1.4rem;
	color: #000;
	font-weight: 400;

	@include breakpoint(large down) {
		font-size: 1.2rem;
	}

	@include breakpoint(medium down) {
		font-size: 1.1rem;
	}
}

.project-tiles {
	max-width: 100% !important;
	padding-left: 10rem;
	padding-right: 10rem;
	padding-top: 4rem;

	@include breakpoint(large down) {
		padding-left: 6rem;
		padding-right: 6rem;
	}

	@include breakpoint(medium down) {
		max-width: 100% !important;
		padding-left: 4.5rem !important;
		padding-right: 4.5rem !important;
	}
}

.project-tile {
	margin-bottom: 2rem;

	@include breakpoint(medium up) {
		margin-bottom: 4rem;
	}

	@include breakpoint(medium down) {
		margin-bottom: 3rem;
	}

	&:nth-of-type(2n) {
		@include breakpoint(medium down) {
			padding-left: 4.5rem;
			padding-right: 4.5rem;
		}
	}

	&__inner {
		margin: auto;
		max-width: 480px;
	}

	&__vertical {
		@include breakpoint(medium up) {
			max-width: 80%;
		}
	}

	&__horizontal {
		.sixteenbynine {
			overflow: hidden;
		}
	}

	&__image-container {
		margin-bottom: 1rem;
	}

	&__image {
		width: 100%;
	}

	&__video {
		width: 100%;
	}

	&__video-inner {
		position: relative;
		overflow: hidden;

		// &::before {
		// 	content: "";
		// 	display: block;
		// 	padding-top: 125%;

		// }

		video {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}

	&__heading {
		text-transform: uppercase;
		font-weight: 700;
		font-size: 1.1rem;
		letter-spacing: 1px;
		line-height: 1.1;
		margin-bottom: 0.3rem;
		text-align: left;

		@include breakpoint(medium down) {
			margin-bottom: 0;
		}
	}

	&__date {
		display: block;
		font-size: 1.1rem;
		line-height: 1.1;
		letter-spacing: 1px;
		margin-bottom: 0;
		text-align: left;
		font-weight: 400;

		@include breakpoint(medium down) {
			margin-bottom: 0;
		}
	}

	&__category {
		display: block;
		font-size: 1.1rem;
		line-height: 1.1;
		margin-bottom: 0.3rem;
		letter-spacing: 1px;
		text-align: left;
		font-weight: 400;
		text-transform: uppercase;

		@include breakpoint(medium down) {
			margin-bottom: 0.25rem;
		}
	}

	a {
		color: #000;
	}
}

body.page-template-page-about {
	h1.single__title {
		font-size: 1.6rem;
		text-transform: uppercase;
		letter-spacing: 4px;
		padding-top: 5rem;

		@include breakpoint(medium down) {
			padding-top: 3rem;
		}
	}

	.about {
		&__title {
			font-size: 1.6rem;
			text-transform: uppercase;
			letter-spacing: 4px;

			@include breakpoint(medium down) {
				font-size: 1.4rem;
				letter-spacing: 3px;
			}
		}
		&__contacts {
			list-style: none;
			margin: 0 0 3rem;
		}

		&__contact {

			@include breakpoint(medium down) {
				line-height: 1;
				margin-bottom: 0.5rem;
			}

			a, span {
				font-size: 1.4rem;
				line-height: 1.2;
				color: #000;
				font-family: $font-family__body;
				font-weight: 400;

				&:hover, &:focus {
					color: #000;
				}

				@include breakpoint(medium down) {
					font-size: 1.2rem;
					letter-spacing: 0;
				}
			}
		}
	}

	.single__content {
		p {
			font-size: 1.4rem;
			line-height: 1.4;
			margin-bottom: 2rem;

			@include breakpoint(medium down) {
				font-size: 1.2rem;
				line-height: 1.2;
			}
		}
	}

	.single-about {
		min-height: calc(100vh - 75px - 26px);

		.cell {
			@include breakpoint(large up) {
				padding-left: 13rem;
				padding-right: 0;
			}

			@include breakpoint(large down) {
				padding-left: 10rem;
				padding-right: 0;
			}
		}

		.grid-padding-x > .cell {
			@include breakpoint(medium down) {
				padding-right: 3.5rem;
				padding-left: 3.5rem;
			}
		}
	}
}

body.post-type-archive-projects {

	.project-tiles {
		max-width: 180rem !important;
	}

	.isotope-item {
		// width: 380px !important;

		// min-width: 350px;

		// width: 370px !important;

		// @include breakpoint (large down) {
		// 	width: 450px !important;
		// }

		// @include breakpoint (medium down) {
		// 	width: 400px !important;
		// }

		// @include breakpoint (small down) {
		// 	width: 100% !important;
		// }

		@include breakpoint(xxlarge up) {
			width: 25%;
			padding-left: 2rem;
			padding-right: 2rem;
		}
	}

	#projects-grid {
		width: 100% !important;
		margin: 0 !important;
		// margin: 0 auto !important;
		// max-width: 100% !important;
		// margin: 0 auto !important;
		// width: 1600px !important;
		// min-width: 1200px;

		@include breakpoint(xlarge down) {
			margin: 0 auto !important;
			width: auto !important;
			min-width: 0;
		}

		@include breakpoint(large down) {
			margin: 0 auto !important;
			width: auto !important;
			min-width: 0;
		}

		@include breakpoint(medium down) {
			margin: 0 auto !important;
			width: auto !important;
			min-width: 0;
		}

		@include breakpoint(small down) {
			margin: 0 auto !important;
			width: 400px !important;
			min-width: 0;
			max-width: 100%;
		}
	}
}
