/*
     _             _
 ___(_)_ __   __ _| | ___
/ __| | '_ \ / _` | |/ _ \
\__ \ | | | | (_| | |  __/
|___/_|_| |_|\__, |_|\___|
             |___/

*/

@import "essentials";
@import "tools/tools";

body.single-projects {
	.single {
		&__title {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			margin: 0;
			text-transform: uppercase;
			font-size: 3.6rem;
			letter-spacing: 3px;
			color: #fff;
			z-index: 2;

			@include breakpoint(medium down) {
				font-size: 1.8rem;
				text-align: center;
				width: 100%;
				padding: 0 2rem;
			}
		}

		&__featured-image {
			position: relative;
			overflow: hidden;

			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				display: block;
				background: rgba(0, 0, 0, 0.6);
				z-index: 1;
			}

			.twobyone {
				&::before {
					@include breakpoint(medium down) {
						padding-top: 75%;
					}
				}
			}
		}

		&__content {
			h2 {
				text-transform: uppercase;
				font-size: 2.1rem;
				margin-top: 5rem;
				letter-spacing: 4px;

				@include breakpoint(medium down) {
					font-size: 1.8rem;
				}
			}

			h3 {
				text-transform: uppercase;
				font-size: 1.6rem;
				letter-spacing: 4px;

				@include breakpoint(medium down) {
					font-size: 1.6rem;
				}
			}

			h4 {
				font-size: 1.9rem;
				margin-bottom: 1rem;
				line-height: 1.4;

				@include breakpoint(medium down) {
					font-size: 1.4rem;
					margin-bottom: 1rem;
					line-height: 1.3;
				}
			}

			p {
				line-height: 1.3;
				margin-bottom: 2rem;
				font-size: 1.7rem;

				@include breakpoint(medium down) {
					font-size: 1.4rem;
					line-height: 1.2;
				}
			}

			a {
				color: #000;

				&:visited, &:hover, &:focus {
					color: #000;
				}
			}

			.wp-block-embed__wrapper {
				position: relative;

				&::before {
					content: "";
					display: block;
					padding-top: 56.5%;
				}

				iframe {
					max-width: 100%;
					height: 100%;
					width: 100%;
					position: absolute;
					top: 0;
					left: 0;
				}
			}
		}

		&__subnav {
			position: fixed;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
			color: #fff;
			text-align: right;
			z-index: 1;
			padding-right: 50px;
			padding-left: 15px;
			background: rgba(0, 0, 0, 0);
			transition: all 0.3s ease-out;

			@include breakpoint(medium down) {
				display: none;
			}

			&.active {
				a {
					color: #ccc;

					&::after {
						background: #ccc;
					}
				}
			}
		}

		&__subnav-item {
			position: relative;
			margin: 2rem 0;
			text-transform: uppercase;
			letter-spacing: 1px;
			font-size: 1.2rem;
			font-weight: $font-weight__bold;
			opacity: 0.7;
			cursor: pointer;
			display: block;
			color: #fff;
			@include transition(all 0.3s ease-out);

			&:hover, &:focus, &:visited {
				color: #fff;
			}

			&:hover {
				opacity: 1;
			}

			&::after {
				content: "";
				display: block;
				height: 1px;
				background: #fff;
				position: absolute;
				right: -110%;
				top: 50%;
				width: 100%;
			}

		}

		&__credit-heading {
			font-size: 2.1rem;
			text-transform: uppercase;
			letter-spacing: 4px;

			@include breakpoint(medium down) {
				font-size: 1.6rem;
			}
		}

		&__credits {
			p {
				line-height: 1.3;
				margin-bottom: 2rem;

				@include breakpoint(medium down) {
					font-size: 1.4rem;
					line-height: 1.2;
				}
			}
		}
	}

	figure.wp-block-image.size-large {
		margin-bottom: 5rem;
	}

	.wp-block-column {
		figure.wp-block-image.size-large {
			margin-bottom: 1rem;
		}
	}

	.intro-text {
		padding-top: 5rem;
		width: 70%;
		margin: 0 auto 5rem !important;
		font-size: 2.1rem !important;
		line-height: 1.2 !important;

		@include breakpoint(medium down) {
			padding-top: 2rem;
			width: 90%;
			margin: 0 auto 3rem !important;
			font-size: 1.4rem !important;
			line-height: 1.2 !important;
		}
	}

	blockquote.wp-block-quote.has-text-align-center p {
		margin: 0;
	}

	blockquote.wp-block-quote.has-text-align-center p, blockquote.wp-block-quote.has-text-align-center cite {
		font-size: 2.1rem;
		line-height: 1.6;
		font-style: normal;

		@include breakpoint(medium down) {
			font-size: 1.2rem;
			line-height: 1.2;
			margin-bottom: 0.5rem;
		}
	}

	blockquote.wp-block-quote.has-text-align-center em, blockquote.wp-block-quote.has-text-align-center cite {
		font-style: normal;
		color: #000;
	}

	blockquote.wp-block-quote.has-text-align-center {
		margin-bottom: 5rem;
	}

	.grid-container {
		@include breakpoint(medium down) {
			padding-left: 3.5rem;
			padding-right: 3.5rem;
		}
	}
}
