/*
           _
  ___ ___ | | ___  _ __ ___
 / __/ _ \| |/ _ \| '__/ __|
| (_| (_) | | (_) | |  \__ \
 \___\___/|_|\___/|_|  |___/

*/

/*---------------------------------
  Colors Variables
-----------------------------------*/

$color__facebook: #3b5998;
$color__facebook-messenger: #0084ff;
$color__twitter: #00aced;
$color__foursquare: #f94877;
$color__tumblr: #35465d;
$color__medium: #02b875;
$color__vimeo: #1ab7ea;
$color__android: #a4c639;
$color__dribbble: #ea4c89;
$color__slack: #4a154b;
$color__reddit: #ff4500;
$color__spotify: #1ed760;
$color__amazon: #f90;
$color__yahoo: #430297;
$color__twitch: #6441a4;
$color__pocket: #ee4056;
$color__periscope: #40a4c4;
$color__discord: #7289da;
$color__telegram: #08c;
$color__apple: #a6b1b7;
$color__pinterest: #bd081c;
$color__wordpress: #21759b;
$color__quora: #b92b27;
$color__snapchat: #fffc00;
$color__linkedin: #0077b5;
$color__soundcloud: #f30;
$color__whatsapp: #25d366;
$color__flickr: #f40083;
$color__youtube: #f00;
$color__wechat: #09b83e;
$color__instagram: #c32aa3;
$color__sms: #55e744;
$color__email: #666;

/*---------------------------------
  Alternative Names for
  Foundation Variables
  (_foundation-settings.scss)
-----------------------------------*/
$color__white: $white;
$color__black: $black;
$color__light-gray: $light-gray;
$color__light-grey: $light-gray;
$color__medium-gray: $medium-gray;
$color__medium-grey: $medium-gray;
$color__dark-gray: $dark-gray;
$color__dark-grey: $dark-gray;

/*---------------------------------
  Colors with Opacity
-----------------------------------*/

$color__rgba--black: rgba(0, 0, 0, 0.075);

/*---------------------------------
  Gradient
-----------------------------------*/

$linear-gradient__header: linear-gradient(to bottom, $color__black 0%, $color__white 100%);
