/*
                 _       _     _
__   ____ _ _ __(_) __ _| |__ | | ___  ___
\ \ / / _` | '__| |/ _` | '_ \| |/ _ \/ __|
 \ V / (_| | |  | | (_| | |_) | |  __/\__ \
  \_/ \__,_|_|  |_|\__,_|_.__/|_|\___||___/

*/

// Typography Aliases

$font-family__body: "Basis Grotesque Pro Off White", $body-font-family;
$font-family__titles: "Basis Grotesque Pro Off White", $body-font-family;

$font-weight__normal: $global-weight-normal;
$font-weight__medium: 600;
$font-weight__bold: $global-weight-bold;

// Grid Alias
$grid__margin: $global-margin;

// Z-Index
$z-index__nav--mobile: 1006;
$z-index__menu-button: 1007;
$z-index__nav: 1008;
$z-index__modal: 1009;
$z-index__under: -1;
$z-index__overlays: 3;
$z-index__content: 4;

// Heights
$height__nav: 110px;
$height__nav--offset: calc(100vh - 110px); // 110px === $height__nav

// Border Radius
$border-radius__large: $global-margin * 2;
$border-radius__small: $global-margin;
